* {
   padding: 0%;
   margin: 0%;
}

/*4.1 Cabecera de nuestra pagina */
.cabecera-de-pagina {
   width: 100%;
   margin: 0%;
   padding: 2px;
   background-color: green;
   color: aliceblue;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   text-transform: none;
}

.cabecera-de-pagina p {
   font-size: 30px;
}

.cabecera-de-pagina blockquote {
   font-size: 17px;
   font-style: inherit;
}

/*4.2 Propiedades de texto */

.propiedades--texto{
   font-size: 16px;
   text-transform: capitalize;
   border-width: 100%;
   margin: 0;
}
.propiedades--texto p{
   text-decoration: underline;
}
.propiedades--texto blockquote{
   font-size: 14px;
   text-align: left;
   text-transform: capitalize;
   font-style: italic;
   color: #6f6f6f;
   background-color: rgba(128, 128, 128, 0.2); /* Gris con 20% de opacidad */
   border-left: 4px solid rgba(128, 128, 128, 0.5); /* Línea gris más opaca */
   padding-left: 20px; /* Espacio entre la línea y el texto */
   padding: 20px;
}

/* 4.3 Propiedades de Caja en CSS */
.caja{
   padding: 10px;
   box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
}
.caja--griss{
   background-color: #f0f0f0;
   border: 2px solid #3e3b3b;
}
.caja--coral{
   background-color: rgba(255, 174, 0, .3);
   border: 4px solid #3e3b3b;
}

/* 4.4 Posición Relativa en CSS Y Posición Absoluta en CSS */
.relativo{
   position: relative;
   padding: 20px;
   margin: 10px;
   color: #3e3b3b;
   background-color: rgba(0, 255, 255,.2);
}
.absoluto{
   position: absolute;
   width: 45%;
   text-align: center;
   background-color: rgba(36, 152, 154, .9);
   border-radius: 8px;
   color: #f0f0f0;
   padding: 10px;
   box-sizing: border-box; /* evita que el div se extienda más allá del contenedor debido al padding. */
   top: 35%;
   left: calc(50% + 20px);
}

/* 4.5  Media Queries en CSS */
@media (max-width: 768px) {
   body {
       background-color: rgba(157, 0, 255, 0.3);
   }

   h1 {
       font-size: 18px; /* Ajustar el tamaño del texto para pantallas pequeñas */
   }
   
   .grid-item {
       font-size: 14px; /* Ajustar el tamaño del texto dentro de la cuadrícula */
   }
}

/* 4.6  Principios de Grid en CSS */
.grid-container{
   padding: 0 0 20px 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Crea columnas que se ajustan en una fila */
   gap: 20px;
}
.grid-item{
   background-color:rgba(0, 85, 255, 0.75);
   color: #f0f0f0;
   font-weight: bold;
   text-align: center;
}

/* 4.7 Principios de Animaciones en CSS */
/* elemento - duracion - efecto */
.animacion{
   width: 100px;
   height: 100px;
   border: 1px solid #3e3b3b;
   border-radius: 0;
   background-color: rgba(202, 0, 0, 0.785);
   transition: background-color .5s linear;
}
.animacion:hover{
   background-color: rgba(0, 0, 183,0.785);
   transition: background-color .5s linear;
}
.mover{
   width: 100px;
   height: 100px;
   background-color: rgba(17, 111, 0, 0.785);
   border-radius: 100%;
   animation: mover-izq-der 1s linear infinite; /* infinite: de forma indeterminada */
}
@keyframes mover-izq-der{
   0% {
       transform: translateX(0);
   }
   50% {
       transform: translateX(100%);
   }
   100% {
       transform: translateX(0);
   }
}